
.pizzas {

    border: 2px solid #680b2d;
    padding: 2em;
    margin: 1em;
    border-radius: 5em;

    margin-top: 5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    text-align: center;
}

.medium_pizza {
    background-color: #f9d6e3;
flex:1

}

img {

    border-radius: 40em;
}


.small_pizza {
    background-color: #da97af;
    flex:1
}




.large_pizza {
    background-color: #fd87b3;
    flex:1
}



.contact_us {
    background-color: #f84f8d;
   margin-top: 10em;
}

@media(min-width: 760px) {

    body {
        background-color: #b995a3;

    }

}

@media(min-width: 960px) {
    body {
        background-color: rgb(16, 132, 132);
    }



    .pizza {
        display: flex;


    }

}